body{
    margin: 0;
    padding: 0;
}
.sb{
    background-color:navy;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
    text-align: center;
    color: white;
    transform: translateX(0);
    transition: transform 1s ease-in;

  
}
.sb.open{
    transform: translateX(-100);
    transition: transform 1s ease; 

}
.sb ul{
    padding: 10px;
}
.sb ul li{
    list-style: none;
    padding: 20px;
}

.sb li:hover{
 background-color: black;
}
.sb-mob {
    background-color: blue;
    width: 100vw;
    align-items: center; /* Ensures vertical alignment in row */
    padding: 15px;
    margin: 0;
    display:none;
    color: white;
    transition: transform 1s ease; 
}


@media(max-width:768px)
{
    .sb{
        display: none;

    }
    .sb.open{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        transition: transform 1s ease; 



    }
    .sb-mob {
        flex-direction: row; /* Stack elements vertically on smaller screens */
        display: flex; /* Ensure it becomes visible on mobile */
        align-items: center;
        justify-content: space-between;

    }
    .sb-mob:hover{
        cursor: pointer;
    }
  
}