
.sidenav {
  height: 100%; 
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgb(246, 96, 121), rgb(255, 67, 161), #816694);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  align-items: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  color:white;
  display: block;
  transition: 0.3s;
  margin: 15px 0; 
  margin-right: 30px;
  border-radius: 8px; 
  list-style-type: none; 
}

/* Close button */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 36px;
  align-items: center;
}

/* Sidebar links on hover */
.sidenav a:hover {
  color: #f1f1f1; 
  background-color: #6c4588; 
  box-shadow: 0px 4px 8px rgba(108, 69, 136, 0.5); 
  border-radius: 10px; 
  align-items: center;
}

/* Mobile menu button (hamburger icon) */
.mobile-menu {
  display: none; /* Hidden on larger screens */
}

/* Display the sidebar when open */
.sidenav.open {
  width: 250px;
}

/* Media queries for mobile */
@media (max-width: 768px) {
  .mobile-menu {
    display: block; /* Show the menu button only on mobile screens */
  }

  .sidenav {
    width: 0; /* Sidebar is hidden by default */
  }
}

@media (min-width: 769px) {
  .sidenav {
    display: none; /* Hide the sidebar on larger screens */
  }
}
